@charset "UTF-8";
/**
 * Jeong A Ra CSS
 * http://jeongara.com/
 *
 * Contents CSS
 */



/* ================================
  search
================================= */
#container.search .content {height:calc(100% - 100px);padding-bottom:var(--searchbar-h);}
.content .search__form {position:relative;max-width:800px;margin:0 auto;padding-top:40px;}

/* 검색 폼 */
.search__input {width:100%;height:var(--size-h);padding-left:24px;padding-right:90px;padding-top:20px;padding-bottom:20px;border-radius:8px;border:1px solid var(--color-int-line);font-size:19px;color:var(--color-title);line-height:150%;resize:none;box-sizing:border-box;}
input.search__input {padding-top:0px;padding-bottom:0px;}
.search__buttons {display:flex;align-items:center;position:absolute;top:0px;right:0px;height:100%;}
.search__btn {display:flex;align-items:center;}
.search__btn--delete {display:none;width:25px;padding-top:10px;}
.search__btn--search {width:48px;height:100%;}
.is-has-value .search__btn svg .path1 {fill:#3D3D3D;}
.is-has-value .search__btn svg .path2 {stroke:#3D3D3D;}
@media screen and (max-width:1023px) {
  .search__input {padding-top:12px;padding-bottom:11px;padding-left:24px;padding-right:70px;}
}
@media screen and (max-width:767px) {
  .search__input {padding-top:1rem;padding-bottom:1rem;padding-left:1.6rem;font-size:1.7rem;border-radius:0.8rem;}
  .search__btn--search {justify-content:center;}
  .search__btn--delete {width:17px;}
  .search__btn--delete {padding-top:5px;}
}
@media screen and (max-width:479px) {
  #container.search .content {padding-bottom:6rem;}
}

/* input 입력시 노출 */
.search__group.is-has-value .search__btn--delete {display:flex;}
.search__group.is-has-value .search__btn--search svg path {stroke:var(--color-title);}

/* 검색바 */
.search__bar {position:sticky;left:0;right:0;bottom:0;padding:24px 60px;background-color:var(--color-bg2);border-top:1px solid var(--color-primary);z-index:10;}
.search__bar .search__input {padding-top:12.5px;padding-bottom:12.5px;}
@media screen and (max-width:1200px) {
  .search__bar {padding-left:24px;padding-right:24px;}
}
@media screen and (max-width:1024px) {
  .search__bar {padding-top:2rem;padding-bottom:2rem;padding-left:2.4rem;padding-right:2.4rem;}
}
@media screen and (max-width:1023px) {
  .search__bar .search__input {padding-top:12px;padding-bottom:10px;}
}
@media screen and (max-width:767px) {
  .content .search__form {padding-top:4rem;}
  .search__bar {}
  .search__bar .search__input {padding-top:1rem;padding-bottom:1rem;}
}
@media screen and (max-width:479px) {
  .search__bar {padding-left:2rem;padding-right:2rem;}
}

/* 검색바 하단 가이드 */
.search__bar-guide {display:flex;align-items:center;column-gap:16px;margin-top:16px;}
.btn-mobile__guide {display:none;width:6rem;height:6rem;background-repeat:no-repeat;background-position:center;background-image:url(../img/icon/ico_book.svg);background-color:#EFF7EA;background-size:3.6rem;border-radius:6rem;border:1px solid var(--color-primary)}
.btn-mobile__close {display:flex;position:absolute;top:-9rem;right:0;width:3.2rem;height:3.2rem;background-repeat:no-repeat;background-position:center;background-image:url(../img/icon/ico_close_round_gray.svg);background-size:2.667rem;border-radius:3.2rem;opacity:0;visibility:hidden;}
@media screen and (min-width:1025px) {
  .btn-guide__group {display:flex;align-items:center;column-gap:16px;position:relative;}
  .btn-guide {display:flex;align-items:center;justify-content:center;column-gap:4px;height:42px;padding:0px 24px;background-color:#EFF7EA;border-radius:50px;border:1px solid var(--color-primary);font-weight:700;font-size:var(--font-size-md);color:var(--color-primary);box-sizing:border-box;}
  .btn-guide::before {content:none;display:flex;align-items:center;}
  .btn-guide:hover {background-color:#E3EBDE;}
  .btn-guide:active {background-color:#CEE9C1;border-color:#CEE9C1;}
}
@media screen and (max-width:1024px) {
  .search__bar-guide {margin-top:0px;}

  /* 플로팅 */
  .floating__group {position:fixed;bottom:15rem;right:2.4rem;}
  .btn-mobile__guide {display:flex;}
  .btn-guide__group {overflow:hidden;position:absolute;bottom:4.8rem;right:0px;width:11rem;border:1px solid var(--color-line);border-radius:0.8rem;opacity:0;visibility:hidden;transition:all 0.3s;-webkit-transition:all 0.3s;}
  .is-active .btn-guide__group {opacity:1;visibility:visible;bottom:6.8rem;}
  .is-active .btn-mobile__close {top:-12rem;opacity:1;visibility:visible;}
  .btn-guide {width:100%;height:3.8rem;padding:0px 10px;background-color:var(--color-white);border-top:1px solid var(--color-line);white-space:nowrap;font-size:1.3rem;text-align:left;}
  .btn-guide:first-child {border-top:none;}
}
.btn-guide:disabled {background-color:#D7DED3;border-color:#D7DED3;color:#B1B9B9;cursor:default;}
.btn-guide:disabled::before {background-image:url(../img/icon/ico_book_disabled.svg);}
/* 검색 메시지 */
.search__message {position:relative;padding:0px 0px 0px 32px;font-size:15px;color:var(--color-text);line-height:150%;}
.search__message::before {content:'';position:absolute;top:50%;left:0px;width:var(--size-icon);height:var(--size-icon);background-repeat:no-repeat;background-position:0 0;background-image:url(../img/icon/ico_alert.svg);transform:translateY(-50%);}
.search__message > span br {display:none;}
@media screen and (max-width:1024px) {
  .search__message {margin-top:1.3rem;}
}
@media screen and (max-width:767px) {
  .search__message {padding-left:2rem;line-height:120%;white-space:nowrap;}
  .search__message::before {width:2rem;height:2rem;background-size:1.8rem;}
  .search__message {display:block;font-size:1.2rem;line-height:100%;}
  /* 플로팅 */
  .floating__group {bottom:16rem;right:1.6rem;}
}


/* 주소찾기 */
.content .address__form {max-width:872px;margin:0 auto;padding-top:40px;}
.address__group {position:relative;margin-top:53px;}
.address__group .search__input {padding-left:176px;}
.address__group .form__message {margin-left:var(--addrbtn-w);}
@media screen and (max-width:1023px) {
  .content .address__form {max-width:100%;padding-top:2.4rem;}
}
@media screen and (max-width:767px) {
  .address__group {margin-top:4rem;}
  .address__group .search__input {padding-left:1.6rem;padding-right:48px;border-top-left-radius:0px !important;}
}

/* 주소상세 */
.address__details {display:grid;align-items:flex-end;grid-template-columns:auto auto auto 128px;column-gap:16px;margin-top:40px;padding-left:var(--addrbtn-w);}
.address__details[hidden] {display:none;}
.int__group {display:grid;row-gap:8px;}
@media screen and (max-width:1023px) {
  .address__details {margin-top:30px;padding-left:0px;}
}
@media screen and (max-width:767px) {
  .address__details {grid-template-columns:auto auto auto 8rem;}
}
@media screen and (max-width:640px) {
  .address__details {grid-template-columns:1fr;margin-top:8.2rem;row-gap:1.6rem;}
}

/* 드롭다운 */
.address__dropdown-group {position:absolute;top:0;left:0;width:var(--addrbtn-w);z-index:2;}
.address__dropdown-btn {display:grid;align-items:center;grid-template-columns:auto 56px;width:100%;height:var(--size-h);background-color:var(--color-primary);border-radius:8px 0 0 8px;font-weight:700;font-size:var(--font-size);color:var(--color-white);}
.address__dropdown-btn .icon {display:grid;align-items:center;justify-content:center;position:relative;width:56px;height:100%;}
.address__dropdown-btn .icon::before {content:'';position:absolute;top:0;left:0;width:1px;height:100%;background-color:rgba(255, 255, 255, 0.20);}
.address__dropdown-btn .icon::after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(255, 255, 255, 0.20);opacity:0;transition:all .2s;-webkit-transition:all .2s;}
.address__dropdown-btn .icon svg {transition:all .2s;-webkit-transition:all .2s;}
.address__dropdown-box {position:absolute;top:var(--size-h);left:0;width:100%;visibility:hidden;opacity:0;transition:all .2s;-webkit-transition:all .2s;}
.address__dropdown-list {list-style:none;padding-top:4px;}
.address__dropdown-list button {display:flex;align-items:center;width:152px;height:var(--size-h);padding:0px 24px;background-color:var(--color-white);border:1px solid var(--color-line);border-radius:8px;font-weight:700;font-size:var(--font-size);color:var(--color-desc);box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.05);}
/* hover active disabled */
@media screen and (min-width:1025px) {
  .address__dropdown-btn:hover {background-color:var(--color-primary-hover);}
  .address__dropdown-list button:hover {background-color:#DDD;}
}
@media screen and (max-width:767px) {
  .address__dropdown-group {position:relative;}
  .address__dropdown-list {padding-top:0px;}
  .address__dropdown-btn {grid-template-columns:auto 4.8rem;height:4.8rem;border-radius:0.8rem 0.8rem 0rem 0rem;}
  .address__dropdown-btn .icon {width:4.8rem;}
}

/* open */
.address__dropdown-group.is-open .address__dropdown-box {visibility:visible;opacity:1;}
.address__dropdown-group.is-open .address__dropdown-btn .icon::after {opacity:1;}
.address__dropdown-group.is-open .address__dropdown-btn .icon svg {transform:rotate(180deg)}
/* 단지명 */
.address__group.is-complex .address__dropdown-btn {background-color:#6D7882;}

/* 가이드박스 */
.guide__box {max-width:742px;margin:0 auto;padding:24px;background-color:#F7FBF5;border:1px solid var(--color-primary);border-radius:16px;font-size:var(--font-size-md);text-align:center;line-height:150%;color:var(--color-balck);}
@media screen and (max-width:767px) {
  .guide__box {padding:1.2rem 1.6rem;word-break:keep-all;}
}



/* ================================
  chat
================================= */
.chat {display:grid;row-gap:60px;padding:40px 0px 0;}
.chat__messages {display:grid;row-gap:16px;}
.chat__bubble {display:flex;} 
.chat__bubble.is-me {justify-content:flex-end;padding-right:14px;}
.chat__message {display:inline-flex;align-items:flex-end;column-gap:8px;}
.message__time {font-size:13px;color:#5D5D5D;}
.chat__message .message__inner {position:relative;padding:24px;font-weight:600;font-size:var(--font-size-md);color:var(--color-desc);line-height:150%;}
.message__inner > .chat-guide:first-child {border-top:none;} 
.message__inner b {font-weight:600;color:var(--color-balck);}
.chat__bubble.is-you .chat__messages {max-width:737px;}
.chat__bubble.is-you .message__inner {background-color:#DEF0D6;border-radius:0 16px 16px 16px;color:var(--color-title);}
.chat__bubble.is-you .chat__message {position:relative;padding-left:52px;}
.chat__bubble.is-you .chat__message .message__photo {position:absolute;top:0;left:0;}
.chat__bubble.is-me .chat__messages {max-width:747px;}
.chat__bubble.is-me .message__inner {order:2;background-color:#ECECEC;border-radius:16px;}
.chat__bubble.is-me .message__inner::before {content:'';position:absolute;top:25%;right:0;width:24px;height:24px;margin-right:-14px;background-repeat:no-repeat;background-position:center;background-size:100%;background-image:url(../img/icon/ico_form.svg);}
.chat__bubble.is-me .chat__message .message__time {order:1 !important;}
/* 결과 마지막 */
.chat__message.last .message__inner {padding:0px;}
.chat__message.last .message__inner > * {padding:24px;}
@media screen and (max-width:1024px) {
}
@media screen and (max-width:1023px) {
.chat__bubble.is-you .chat__messages {min-width:85%;max-width:85%;}
.chat__bubble.is-me .chat__messages {max-width:85%;}
}
@media screen and (max-width:767px) {
  .chat {row-gap:3rem;}
  .chat__messages {row-gap:0.8rem;}
  .chat__bubble .message__inner {padding:1.6rem;}
  .chat__bubble.is-me {padding-right:1rem;}
  .chat__bubble.is-me .message__inner::before {width:1.6rem;height:1.6rem;margin-right:-1rem;}
  .chat__message.last .message__inner > * {padding:1.6rem;}
}
@media screen and (max-width:480px) {
  .chat__bubble .message__inner {padding:0.8rem 1.6rem;}
  .chat__bubble.is-me .message__inner::before {width:1.2rem;height:1.2rem;margin-right:-0.7rem;}
  .chat__message.last .message__inner > * {padding:0.8rem 1.6rem;}
}

/* 가이드 */
.chat-guide {border-top:1px solid #499027;font-weight:400;font-size:var(--font-size-md);line-height:150%;}
.chat-guide h3 {font-weight:700;font-size:var(--font-size-md);color:var(--color-desc);}
.chat-guide h4 {font-weight:500;font-size:var(--font-size-md);color:var(--color-desc);}
.chat-guide__content {margin-top:18px;}
.chat-guide__content ul {margin:8px 0px;}
.chat-guide__content li {margin-left:18px;}
@media screen and (max-width:767px) {
  .chat-guide__content {margin-top:1.5rem;}
}
@media screen and (max-width:480px) {
  .chat-guide__content {margin-top:1rem;}
}

/* 복사/좋아요/싫어요 버튼 */
.chat__actions {display:flex;align-items:flex-start;column-gap:8px;padding-left:52px;}
.btn-action {display:grid;position:relative;}
.btn-action::before {content:'';display:flex;align-items:center;justify-content:center;width:32px;height:32px;background-color:var(--color-white);background-repeat:no-repeat;background-position:center;background-size:20px;border-radius:8px;transition:all .2s;-webkit-transition:all .2s;}
.btn-action.btn-action--copy::before {background-image:url(../img/icon/ico_copy.svg);}
.btn-action.btn-action--like::before {background-image:url(../img/icon/ico_like.svg);}
.btn-action.btn-action--dislike::before {background-image:url(../img/icon/ico_dislike.svg);}
.btn-action .btn-text {position:absolute;top:40px;left:50%;;display:inline-flex;padding:4px 9px;line-height:100%;background-color:var(--color-balck);border-radius:4px;font-size:13px;color:var(--color-white);white-space:nowrap;transform:translateX(-50%);visibility:hidden;opacity:0;transition:all .2s;-webkit-transition:all .2s;}
/* hover */
.btn-action.is-hover::before {background-color:#D9D9D9;z-index:2;}
.btn-action.is-hover .btn-text {visibility:visible;opacity:1;}
/* active */
.btn-action.is-active::before {background-color:var(--color-white);}
.btn-action.is-active.btn-action--copy::before {background-image:url(../img/icon/ico_check.svg);}
.btn-action.is-active.btn-action--like::before {background-image:url(../img/icon/ico_like_selected.svg);}
.btn-action.is-active.btn-action--dislike::before {background-image:url(../img/icon/ico_dislike_selected.svg);}
@media screen and (max-width:767px) {
  .chat__actions {margin-top:0.8rem;}
  .btn-action::before {width:24px;height:24px;background-size:18px;}
  .btn-action .btn-text {top:2.9rem;padding:0.3rem 0.4rem;}
}
@media screen and (max-width:480px) {
}