@charset "UTF-8";
/**
 * Jeong A Ra CSS
 * http://jeongara.com/
 *
 * Layout Guide CSS
 */


/* ================================
  HEADER
================================= */
#header {display:flex;align-items:center;justify-content:center;position:sticky;top:0;left:0;width:100%;height:var(--header-h);padding:0px 60px;background-color:var(--color-bg);border-bottom:1px solid var(--color-line);z-index:100;}
.header__logo {line-height:100%;}
.header__logo img {height:30px;}
@media screen and (max-width:1200px) {
  #header {position:fixed;justify-content:center;padding:0px 20px}
}
@media screen and (max-width:480px) {
  #header {justify-content:flex-start;}
  .header__logo img {height:25px;}
}



/* ================================
  CONTAINER (메인 콘텐츠 영역)
================================= */
#wrap {display:flex;flex-direction:column;min-height:100svh;}
#container {flex:1;display:flex;flex-direction:column;min-height:0;}
#container .content {flex:1;min-height:0;padding:0px 60px;}
@media screen and (max-width:1200px) {
  #container .content {padding:var(--header-h) 24px;}
}
@media screen and (max-width:1024px) {
  #container .content {padding:var(--header-h) 2.4rem;}
}
@media screen and (max-width:767px) {
  #container .content {padding:var(--header-h) 2.4rem 4rem;}
}
@media screen and (max-width:479px) {
  #container .content {padding:var(--header-h) 2rem 4rem;}
}