@charset "UTF-8";
/**
 * Jeong A Ra CSS
 * http://jeongara.com/
 *
 * Reset CSS
 */
:root {
    --color-primary: #5BB431;
    --color-primary-hover: #499027;
    --color-primary-active: #3A731F;
    --color-white: #FFF;
    --color-balck: #000;
    --color-line: #DDD;
    --color-danger: #DE3412;
    /* text */
    --color-title: #1D1D1D;
    --color-desc: #3D3D3D;
    --color-text: #7D7D7D;
    /* form */
    --color-int-line: #58616A;
    --color-focus: #444;
    --color-placeholder: #8A949E;
    /* background */
    --color-bg: #F0F0F0;
    --color-bg2: #F9F9F9;
    /* size */
    --size-icon: 24px;
    --header-h: 96px;
    --searchbar-h: 160px;
    --addrbtn-w: 152px;
    --size-h: 70px;
    --font-size: 19px;
    --font-size-md: 17px;
}
@media screen and (max-width:1200px) {
    :root {
        --header-h: 60px;
    }
}
@media screen and (max-width:1024px) {
    :root {
        --searchbar-h:120px;
        --size-h: 56px;
    }
}
@media screen and (max-width:767px) {
    :root {
        --searchbar-h:11rem;
        --size-h: 4.8rem;
        --font-size: 1.5rem;
        --font-size-md: 1.5rem;
        --addrbtn-w: 12.7rem;
    }
}
*,*::before,*::after {box-sizing:border-box;margin:0;padding:0;font-family:"Pretendard","맑은고딕","Apple SD Gothic Neo",-apple-system,Segoe UI,Helvetica,Arial,sans-serif;-webkit-tap-highlight-color:transparent;}
html {height:100%;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
body {position:relative;height:100vh;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-rendering:optimizeLegibility;background-color:var(--color-white);}
body.hidden {overflow:hidden;}
@media screen and (max-width:1024px) {
    body,html {font-size:clamp(8px, calc(100vw / 37.5), 10px)}
}
img,fieldset {border:0;}
img {vertical-align:top;max-width:100%;}
em,address {font-style:normal;}
a {color:inherit;text-decoration:none;}
strong {font-weight:700;}
b {font-weight:900;}
table {table-layout:fixed;border-collapse:separate;border-spacing:0;}
.blind {position:absolute;width:1px;height:1px;clip:rect(0 0 0 0);overflow:hidden;white-space:nowrap;}